@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;

// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

$success: #4abf4f;

@import "../node_modules/bulma/bulma";

// Custom changes

body {
    font-family: sans-serif;
}

header {
    margin: 2rem auto;

    img {
        height: 36px;
    }
}

.hero-body {

    background-image: url(../images/hero-bg.jpg);
    min-height: 600px;
    padding: 0;

    .shadow-layer {
        width: 100%;
        min-height: 600px;
        background-color: rgba($color: #000000, $alpha: 0.75);
    }

    .container {
        padding: 48px 24px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        margin-bottom: 1.25rem;
        font-size: 1.2rem;
    }

    ul {
        margin-bottom: 1.25rem;
        padding-left: 20px;
        font-size: 1.2rem;

        li {
            list-style: disc;
            
        }
    }

    .form{
        background-color: #e8ecef;
        border-radius: 10px;

        p {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding-top: 1.5rem;
            padding-bottom: 1rem;
        }

        label {
            color: #adb2b7;
            font-size: 13px;
            font-weight: 400px;
        }

        .button {
            margin: 0 2.4rem 3rem;
        }
    }
}

.main {
    margin: 3rem auto;
}

.main-text {
    width: 65%;
    margin: 0 auto;
}

.bullet {
    padding: 1.5rem 0;
}

.bullet-bg {
    background-color: #3f4d55;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 2rem;
    position: relative;

    img {
        max-height: 40px;
        max-width: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ebook-img {
    max-width: 90%;
    margin-left: 50px;
}

.main-cta {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

//Stats section

.stats {
    background-color: #2e2f3a;
    color: white;
    padding: 3.75rem 0;

    h3 {
        margin-bottom: 3.75rem;
    }

    p {
        margin-top: 1rem;
    }
}

.icon-logo {
    max-height: 40px;
    max-width: 40px;
    display: block;
    margin: 0 auto 1.2rem;
}

//Customer section

.customers {
    h3 {
        margin: 3rem 0 1rem;
    }

    p {
        margin-bottom: 3.5rem;
    }

    img {
        max-height: 77px;
        max-width: 80%
    }
}

.customer-logos {
    margin-bottom: 4rem !important;
}

//Ebook banner section

.ebook-banner {


    h3 {
        padding: 3rem 0 .5rem;
    }

    p {
        padding-bottom: 1rem;
    }

    a {
        margin: 2rem 0 7rem;
    }
}

//Footer section

.footer {
    background-color: #e8ecef;
    padding-bottom: 3rem !important;

    .level-left .icon {
        font-size: 2rem;
        padding: 0 1.5rem;
    }
}

// Media Queries

  @media screen and (max-width: 1023px) {

    .hero-body {
        height: 100%;

        h1 {
            font-size: 2.5rem;
        }
    
        p {
            font-size: 1rem;
        }
    
        ul {
            font-size: 1rem;
        }

        .field {
            padding: 0 1.5rem;
        }
    }
  }